@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', 'Courier Prime', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  @apply text-primary;
}

nav ul li {
  @apply tracking-widest transition-colors duration-200 hover:text-secondary;
}

/* ------------------------------------------------------------------------------- */

.skills-wrapper .hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-out;
}

.skills-wrapper .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-out;
}

.category-wrapper:nth-child(2) {
  transition-delay: 200ms;
}

.category-wrapper:nth-child(3) {
  transition-delay: 400ms;
}

.skill-wrapper img,
.social-container img {
  width: 40;
  height: 40;
}

.category-wrapper {
  @apply space-y-6 rounded-xl bg-cards bg-opacity-90 p-4;
}

.skill-heading {
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  @apply text-3xl decoration-secondary;
}

.skill-subheading {
  @apply italic;
}

.skill-list {
  @apply list-none space-y-3;
}

.skill-wrapper {
  @apply flex items-center space-x-3;
}

hr {
  background: linear-gradient(
    to right,
    rgba(240, 247, 244, 0),
    rgba(240, 247, 244, 1) 40%,
    rgba(240, 247, 244, 1) 60%,
    rgba(240, 247, 244, 0)
  );
}

/* ------------------------------------------------------------------------------- */

.social-container {
  @apply relative flex items-center;
}

.social {
  @apply absolute left-0 flex h-[40px] max-w-0 origin-right transform items-center overflow-hidden whitespace-nowrap rounded bg-primary px-2 py-1 text-sm text-black opacity-0 transition-all duration-1000 ease-in-out group-hover:w-auto group-hover:max-w-[450px] group-hover:-translate-x-full group-hover:opacity-100;
}

/* ------------------------------------------------------------------------------- */

.list-heading {
  @apply underline decoration-secondary decoration-[3px];
}

.dev-concept {
  @apply rounded-md bg-primary p-1;
}

.projects-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.group {
  @apply transition-opacity duration-200;
}

.projects-wrapper:hover .group {
  opacity: 0.3; /* Reduce opacity of all siblings when hovering over any */
}

.projects-wrapper .group:hover {
  opacity: 1; /* Keep the hovered one at full opacity */
}

.preview-card {
  @apply h-full space-y-4 rounded-md bg-cards bg-opacity-40 p-4 transition-all duration-300 ease-in-out hover:bg-opacity-100;
}

.preview-title {
  @apply transition-colors duration-200;
}

.preview-image {
  @apply rounded-sm;
}

.projects-list {
  @apply list-none space-y-2;
}

footer a {
  display: block;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
  .show {
    transition: none;
  }
}
