@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', 'Courier Prime', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  @apply text-primary;
}

img {
  width: 40;
  height: 40;
}

nav ul li {
  @apply tracking-widest transition-colors duration-200 hover:text-secondary;
}

.category-wrapper {
  @apply rounded-xl bg-skills bg-opacity-90 p-4;
}

.skill-heading {
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  @apply decoration-secondary;
}

.subheading {
  @apply italic;
}

.social-container {
  @apply relative flex items-center;
}

.social {
  @apply absolute left-0 flex h-[40px] max-w-0 -translate-x-0 items-center overflow-hidden whitespace-nowrap rounded bg-white px-2 py-1 text-sm text-black opacity-0 transition-all duration-1000 ease-in-out group-hover:w-auto group-hover:max-w-[450px] group-hover:-translate-x-full group-hover:opacity-100;
}

.category-wrapper {
  @apply self-start md:space-y-6;
}

.skill-list {
  @apply list-none space-y-3;
}

.skill-wrapper {
  @apply flex items-center space-x-3;
}

.dev-concept {
  @apply rounded-md bg-white p-1;
}
